* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

body {
  background-color: #e7e7e7;
  padding-top: 6.25em;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

header{
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}

header img {
  height: 36px;
  margin-right: 1rem;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto 56px;
  padding: 0 3rem;
}

form input {
  font-size: 24px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 5px;
  padding: .5rem;
}

form button {
  background-color: #009432;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: .5rem;
  border-radius: 5px;
}

p {
  font-size: 21px;
  color: red;
  text-align: center;
  padding: 1rem;
}

table {
  width: 100%;
}

table th {
  padding: 1rem;
  border-bottom: 2px solid #000;
  font-weight: bold;
  font-size: 24px;
}

table td {
  padding: 1rem 0;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

table img {
  height: 30px;
}

.result {
  padding: .5rem;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.aprovado {
  background-color: #009432;
}

.reprovado {
  background-color: red;
}

@media (max-width: 660px) {
  body {
    padding-top: 2em;
  }
  header {
    padding: 8px;
  }
  header img {
    height: 24px;
  }
  header h1 {
    font-size: 22px;
  }
  form {
    flex-direction: column;
    padding: 0 .5rem;
  }
  form input {
    margin: 0 .2rem .2rem;
    font-size: 20px;
  }
  form button {
    margin-top: .2rem;
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  table tr {
    font-size: 14px;
    padding: .5rem;
  }
  table td {
    font-size: 14px;
  }
  table th {
    font-size: 18px;
  }
}